.signFormContainer{
    width: auto;
    height:auto;
    background-color:transparent;
    margin-right: 20px;
    margin-top: 25vh;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.signFormForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signFormInput{
    height: 50px;
    width: 300px;
    border: solid 1px #BEF2E5;
    border-radius: 30px;
    background-color: #BEF2E5;
    font-size: 20px;
    color: #60EFDB;
    padding: 5px 10px;
    margin: 10px 0;
    outline: none;
}

.signFormInput::placeholder{
    color: white;
}

.signFormButton{
    height: 45px;
    width: 200px;
    border: solid 1px #60EFDB;
    border-radius: 30px;
    background-color: #60EFDB;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
}

.signFormButton:hover{
    border: solid 1px #BEF2E5;
    background-color: #BEF2E5;
}