.logFormContainer{
    width: auto;
    height:auto;
    background-color:transparent;
    margin-right: 20px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.logFormForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logFormInput{
    height: 50px;
    width: 300px;
    border: solid 2px black;
    border-radius: 30px;
    background-color:transparent;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    margin: 10px 0;
    outline: none;
}

.logFormInput::placeholder{
    color: rgb(160, 160, 160);
}

.logFormButton{
    height: 45px;
    width: 150px;
    border: solid 1px black;
    border-radius: 30px;
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
}

.logFormButton:hover{
    border: solid 2px #707070;
    background-color: #707070;
}

@media only screen and (max-width: 830px) {
    .logFormContainer{
        width: 100vw;
        margin-right: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}