.logFormContainer{
    width: auto;
    height:100%;
    background-color:transparent;
    margin-right: 20px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

