.partContainer_level1{
    width: auto;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    
}

.partContainer_level2_a{
    width: 30%;
    height: auto;
    position: relative;
}

.partContainer_level2_b{
    width: 40%;
    height: auto;
    padding: 20px;
}

.partContainer_level2_c{
    width: 30%;
    height: auto;
    position: relative;
    padding: 20px;
}

.partContainer_level3_a{
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.partContainer_Comments{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}