.partContainer_level1{
    width: auto;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    
}

.partContainer_level2_a{
    width: 25%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.partContainer_level2_b{
    width: 45%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.partContainer_level2_c{
    width: 30%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.partContainer_level3_a{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 0;
    padding: 10px;
}

.partContainer_level3_b{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 40%;
    padding: 10px 10px;
}

.partContainer_level3_c{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.partContainer_level3_d{
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    padding: 10px;
}

.partContainer_level3_e{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.partContainer_level3_f{
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    padding: 10px;
}

.partContainer_level3_g{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.partContainer_level4_a{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.partContainer_level4_b{
    width: 100%;
    height: 100%;
    background-color: #FBBAA8;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 830px){
    .partContainer_level2_a{
        display: none;
    }
    .partContainer_level2_c{
        display: none;
    }
    .partContainer_level2_b{
        width: 100%;
    }
}
