.footerContainer{
    width: 100vw;
    height:30px;
    background-color:transparent;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.footerText{
    justify-content: start;
    color: #666666;
    cursor: pointer;
}

.footerText:hover{
    color: black;
}

.footerDivider{
    color: #707070;
    padding: 0 10px;
}