.checkList_Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.checkList_Check_Box{

}

.checkList_Edit_Button{
    background-color: pink;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    

}

